.marca, .items {
    font-family: 'Barlow Condensed', sans-serif;
}

.marca {
    font-size: 20px;
}

.items {
    font-size: 18px;
}

.barra {
    background-color: #000000;
}

.burguer {
    color: white;
}

a {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 13px;
}

@media(min-width: 768px){
    a {
        font-size: 17px;
    }
}

@media(min-width: 1024px){
    a {
        font-size: 18px;
    }
}

@media(min-width: 1080px){
    a {
        font-size: 20px;
    }
}